<div cdkDropListGroup>

    <div class="example-container">
      <h2>Configurar columnas</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="columns"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of columns; let i = index" cdkDrag>
            <div class="row">
                <div class="col-2">{{item.id}}</div>
                <div class="col-5">{{item.name}}</div>
                <div class="col-2">    
                    <a class="pointer" (click)="showColumn(i)" color="primary" matTooltip="Gestionar las Columnas">
                        <mat-icon *ngIf="item.show">remove_red_eye</mat-icon>
                        <mat-icon *ngIf="!item.show">panorama_fish_eye</mat-icon>
                    </a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
<div class="container-fluid mb-0">
        <div class="row">
            <div class="col-6">
                <div class="text-start">
                    <button type="button"  (click)="closeDialog()" mat-raised-button color="secondary">Cancelar</button>
                </div>
            </div>
            <div class="col-6">
            <div class="text-end">
                <button type="button"  (click)="apply()" mat-raised-button color="primary">Aplicar</button>
            </div>
        </div>
    </div>
</div>