<h2 mat-dialog-title>Configurar columnas</h2>
<mat-dialog-content>
  <div cdkDropListGroup>
    <div class="example-container">
      <div
        cdkDropList
        [cdkDropListData]="columns"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of columns; let i = index" cdkDrag>
            <div class="row">
                <div class="col-2">{{item.id}}</div>
                <div class="col-5">{{item.name}}</div>
                <div class="col-2">    
                    <a class="pointer" (click)="showColumn(i)" color="primary" matTooltip="Gestionar las Columnas">
                        <mat-icon *ngIf="item.show">remove_red_eye</mat-icon>
                        <mat-icon *ngIf="!item.show">panorama_fish_eye</mat-icon>
                    </a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
 </mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button color="warn" [mat-dialog-close]="true" color="primary" (click)="apply()">Aplicar</button>
</mat-dialog-actions>