<mat-toolbar color="secondary">
    <img src="/assets/img/logo.png" height="30px" alt="">
    <span class="example-spacer"></span>
    <button *ngIf="!isLogged() && isNotLogginURL()" class="btn-mercadona"  [routerLink]="['/login']"  mat-raised-button >login</button>
    <div *ngIf="isLogged()">
        <span class="small-text"> {{ getUsername() }} </span>
        <button mat-icon-button (click)="logout()" class="example-icon favorite-icon" >
            <mat-icon>logout</mat-icon>
        </button>    
    </div>
</mat-toolbar> 