<h2 mat-dialog-title>Nuevo producto</h2>
<mat-dialog-content>
    <div class="row">
        <div class="col-12">
            <mat-form-field class="all-width"  floatLabel="always">
                <mat-label>Nombre</mat-label>
                <input matInput [(ngModel)]="nameValue" autocomplete="off">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label for="price" class="form-label">Precio</label>
            <div class="input-group mb-3 all-width">
                <button type="button" (click)="plusPrice()" class="input-group-text">+</button>
                <input type="number" class="form-control" id="price"  placeHolder="0,00€" [(ngModel)]="priceValue" min="0" readonly >
                <button type="button"  (click)="lessPrice()" class="input-group-text">-</button>
            </div>
        </div>
        <div class="col-6 mt-3">
            <mat-form-field class="all-width"  >
                <mat-label>Formato</mat-label>
                <mat-select [(ngModel)]="formatValue">
                    <mat-option *ngFor="let item of formatList" [value]="item">
                        {{item}}
                    </mat-option>
                    </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <mat-form-field class="all-width"  floatLabel="always">
                <mat-label>Marca</mat-label>

                <input matInput [(ngModel)]="brandValue" autocomplete="off">
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" [mat-dialog-close]="true" (click)="onSubmit()">Guardar</button>
</mat-dialog-actions>