<div class="container-fluid">
    <div class="position-relative">
        <div class="position-absolute top-50 start-50">
            <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>
            <div class="card" *ngIf="!loading">
                <div class="card-body">
                    <div *ngIf="errorLogin" class="alert alert-danger"> Usuario o contraseña incorrecta </div>
                    <form *ngIf="!loading" [formGroup]="loginForm" (ngSubmit)="login()">
                        <h1>Login</h1>
                        <mat-form-field>
                            <mat-label>User</mat-label>
                            <input type="text" matInput autocomplete="off" formControlName="user">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>password</mat-label>
                            <input type="password" matInput autocomplete="off" formControlName="password">
                        </mat-form-field>
                        <br>
                        <button type="submit" [disabled]="loginForm.invalid" class="ancho button" mat-raised-button color="primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>