@import './scss/_variables.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.all-width {
    width: 100%
}
.btn-mercadona {
    background-color: #4caf50;
    color: white;
}
.color-mercadona {
    color: #4caf50;
}